body {
  background-color: rgba(255, 232, 214, 0.28);
  font-family: "Roboto", serif;
}

.main-container {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 16px 22px 10px rgba(249, 246, 247, 0.783);
}

.search-box {
  border-radius: 5px;
  height: 30px;
  padding: 16px 10px;
  border: 1px solid rgb(179, 179, 179);
  text-indent: 5px;
  width: 60%;
  font-size: 15px;
  background-color: rgba(255, 232, 214, 0.28);
}

.search-button {
  width: 90px;
  color: white;
  background-color: rgb(159, 159, 159, 0.939);
  border-radius: 5px;
  border: 1px solid rgba(159, 159, 159, 0.939);
  padding: 7.5px 10px;
  font-size: 15px;
}

.search-button:hover {
  cursor: pointer;
  background-color: rgb(0, 79, 249);
  border: 1px solid rgb(0, 79, 249);
}
